/* Mantengo esto para ocultar el chat hasta que se loguee el usuario */
#contentWrap {
    display: none;
  }
  
  /* Estilo base para mensajes tipo whisper (susurros) */
  .whisper {
    color: gray;
    font-style: italic;
  }
  