body {
    height: 100vh; /* Establece la altura del cuerpo al 100% del viewport height */
    background: rgb(131, 58, 180);
    background: linear-gradient(143deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir la página */
    background-repeat: no-repeat;
}

#contentWrap {
    display: none;
}